$green: #515E53;

$staggerOffset: 40;

.hero {
  background-color: $green;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


  &.active {
    .hero__heading {
      div {

        span {
          transform: scale(1) rotateX(0deg) translate3d(0, 0%, 0);
          opacity: 1;
        }
        &:first-child {

          span {
            right: 0%;
          }
        }

        &:last-child {
          span {
            left: 0%;
          }
        }
      }
    }
  }



  &__heading {
    display: flex;

    div {
      position: relative;
      // overflow: hidden;

      &:first-child {
        span {
          right: 5%;
        }
      }

      &:last-child {
        span {
          left: 5%;
        }
      }

      span {
        display: inline-block;
        position: relative;
        transform: scale(2) rotateX(0deg) translate3d(0, -100%, 0);
        transition: all 1s ease;
        opacity: 0;
      }
    }

    div:first-child {
      @for $i from 1 through 20 {
        span:nth-last-child(#{$i}) {
          $i: $i / $staggerOffset;
          transition-delay: #{$i}s;
        }
      }
    }

    div:last-child {
      @for $j from 1 through 20 {
        span:nth-child(#{$j}) {
          $j: $j / $staggerOffset;
          transition-delay: #{$j}s;
        }
      }
    }
  }

}


